/* ===========================
mt-30
--- Colors : 
#546979 & #B87B2A & 
#B3B3B3 & #FFFFFF & 
#000000 & #BEB7B5;
  
box-shadow: 0 0 5px 3px black;
box-shadow: inset hoff voff blur color;
=========================== */

body {
    font-family: Lato !important;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1) !important;
    overflow-x: hidden;
    /*what does it do*/
    font-size: 14px;
}

html {
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    /* margin: 0 0 30px; */
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

/* ---------------------new styles-------------------------------- */

/* ===========================
--- Images    
=========================== */

.bg-img {
    background-image: url(../assets/img/bg-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.bg-img-ctus {
    background-image: url(../assets/img/bg-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* ===========================
--- Navigation Header    
=========================== */

.fa-bars {
    color: #B87B2A;
}

.logo-left {
    width: 287px;
    height: 100%;
}

.main-nav {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.bottom-header-area {
    margin: 0px 30px;
    background: rgba(84, 105, 121, 1);
    /*box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75); */
}

/* a .link-text{
    font-size : 14px;
    letter-spacing : 1.4px;
    font-variant : small-caps;
    color : #000000;
    color : rgb(0, 0, 0);
} */

/* .text-right {
    padding-top: 10px;
    padding-bottom: 3px;
    margin-right: 40px;
} */

.top-header-area {
    z-index: 1;
    height: 45px;
    width: 100%;
    padding-left: 60px;
    line-height: 1.5;
    border-bottom: 3px solid rgba(184, 123, 42, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.bg-top-header {
    background: rgba(179, 179, 179, 0.5);
}

.social-top-header {
    line-height: 1.5;
}

.fb img, .email img, .whatsapp img {
    width: 21px;
    height: 21px;
}

/* .top-header-area .fb-top-header .icon img, .top-header-area .email-top-header .icon img, .top-header-area .whatsapp-top-header .icon img {
    width: 21px;
    height: 21px;
}

.clock-top-header .icon img {
    width: 35px;
    height: 35px;
}

.email-top-header .email a, .whatsapp-top-header .whatsapp a, .fb-top-header .fb a, .clock-top-header .clock-text p {
    color: inherit;
    text-decoration: none;
} */

/* .fb, .email, .whatsapp {
    position: relative;
    z-index: 1;
    display: block;
    padding-left: 40px;
    line-height: 1.5;
}

.icon img {
    position: absolute;
    top: 4px;
    z-index: 10;
    left: 0;
} */

/* .clock-top-item-main-nav {
    font-size: 14px;
    letter-spacing: 0.9px;
    font-variant: small-caps;
    color: rgb(0, 0, 0);
} */

/* div .nav-links ul li {
    display: inline;
    text-decoration: none;
} */

/* .nav-menuhover {
    font-size: 14px;
    text-transform: uppercase;
} */

/* .nav-menu {
    font-size: 14px;
    text-transform: uppercase;
} */

/* .nav-header-top-bar {
    background: #B3B3B3;
    background: rgba(179, 179, 179, 1);
    opacity: 0.5;
    filter: alpha(opacity=50) progid:DXImageTransform.Microsoft.Alpha(opacity=50);
} */

/*
.nav-header-top-item a:hover {
    color: #D79933;
    color: rgb(215, 153, 51);
}
*/

.text-color {
    color: rgb(184, 123, 42);
}

h2 {
    color: rgb(215, 153, 51);
}

/* ===========================
--- button
=========================== */

.submit-btn {
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 0;
    min-width: 170px;
    height: 40px;
}

.submit-btn.active, .submit-btn:hover, .submit-btn:focus {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(184, 123, 42);
}

/* ===========================
--- section
=========================== */

.section-padding-100 {
    padding-top: 100px;
}

.section-heading h2 {
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(215, 153, 51);
    text-align: center;
    border-bottom: 2px solid rgba(184, 123, 42, 1);
}

.section-heading i {
    color: rgb(215, 153, 51);
    margin-left: 50%;
}

.section-bg {
    background: rgba(224, 218, 217, 0.5);
    padding-bottom: 30px;
}

/* ---------------------Scrollspy-------------------------------- */

section #home, section #aboutus, section #services, section #projects, section #team, section #contactus {
    color: crimson;
    border-bottom: 2px solid rgb(255, 145, 0);
}

/* ===========================
--- landing Section 
=========================== */

/* .landing {
    padding: 100px;
} */

/* .landing-h3 {
    font-size: inherit;
}

.landing-h4 {
    font-size: 21px;
    color: rgb(255, 255, 255);
 text-shadow: -1px 1px 1px #000; 
}

.landing-h3-blck {
    font-size: 28px;
    color: rgb(0, 0, 0);
}*/

/* .landing#home {
        padding: 30.2% 0 0 0;
    } */

/* .landing {
        border-radius: 0;
        padding-top: 1rem;
    } */

/* .landing, .content-header {
        text-align: center;
    } */

/* .landing .content-header h4 {
        text-shadow: -1px 1px 1px #000;
    } */

/* ===========================
--- Services Section 
=========================== */

.service-icon {
    color: rgb(184, 123, 42);
}

/* ===========================
--- Projects Section 
=========================== */

/* .projects-info h2 {
    color: inherit;
    font-size: 18px;
}

.projects-info h2 span {
    font-size: 12px;
    line-height: 1.5;
} */

.fa-arrow-right {
    font-size: 14px;
    color: rgba(84, 105, 121, 1);
}

.clearfix-img {
    height: 30px;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 262px;
    height: 147px;
    margin-bottom: 10px;
}

.panel {
    border: 1px solid rgba(84, 105, 121, 1);
    border-radius: 0 !important;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn {
    font-size: 18px;
    color: rgba(84, 105, 121, 1);
}

/* ===========================
--- Team Section 
=========================== */

.members-info h2 {
    color: rgb(84, 105, 121);
    font-size: 30px;
}

.members-info h4 {
    color: rgb(84, 105, 121);
    font-size: 20px;
}

.members-info h2 span {
    font-size: 24px;
    line-height: 1.5;
}

.members-info h4 span {
    font-size: 14px;
    line-height: 1.5;
}

.members-address h6 {
    position: relative;
    z-index: 1;
    display: block;
    font-size: 14px;
    padding-left: 40px;
    line-height: 1.5;
}

.members-address h6 a {
    text-decoration: none;
    color: inherit;
}

.members-address h6 img {
    position: absolute;
    top: 4px;
    z-index: 10;
    left: 0;
}

.team-1 .img-thumb img, .team-2 .img-thumb img, .team-3 .img-thumb img {
    width: 250px;
    height: 250px;
}

/* ===========================
--- Contact Us Section 
=========================== */

.p-heading {
    font-size: 18px;
    text-align: center;
}

.contact-container {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 20px 20px -20px rgb(37, 37, 37);
    padding: 15px 15px 15px 15px;
}

.contact-heading {
    margin-bottom: 30px;
}

.contact-heading h3 {
    border-bottom: 2px solid rgba(184, 123, 42, 1);
    display: inline-block;
    padding: 5px 0;
    text-transform: uppercase;
}

.content-sidebar .weekly-office-hours ul li {
    padding: 5px 0;
    display: block;
    border-bottom: 1px solid #f8f7f7;
}

.content-sidebar .weekly-office-hours ul li span {
    font-size: 14px;
    font-weight: 400;
}

/* .weekly-office-hours ul {
    padding-inline-start: 0px;
} */

.content-sidebar .weekly-office-hours ul li:first-of-type {
    padding-top: 0;
}

.content-sidebar .address h6 {
    position: relative;
    z-index: 1;
    line-height: 1.5;
    display: block;
    font-size: 14px;
    padding-left: 40px;
}

.content-sidebar .address h6 img {
    position: absolute;
    top: 4px;
    z-index: 10;
    left: 0;
}

.content-sidebar .address h6 a {
    text-decoration: none;
    color: inherit;
}

.content-sidebar .address h6 span {
    text-transform: lowercase;
}

/* .form-group .form-control{
    border-radius: 0px;
    border: rgba(184, 123, 42) solid 0.1px;
} */

/* ===========================
--- footer
=========================== */

.copyright {
    text-align: center;
    background: rgba(84, 105, 121, 1);
}

.footer-padding-10 {
    padding: 10px 0px 10px 0px;
}

.hr-bottom {
    border-top: 3px solid;
    border-color: rgba(184, 123, 42, 1);
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.75);
}

.footer-bottom-text, .credits a, .credits {
    font-size: 16px;
    color: rgb(255, 255, 255);
}

.credits a:hover {
    color: rgba(215, 153, 51, 1);
    text-decoration: none;
}

/* =========================== */

/* ---------------------End new styles-------------------------------- */

/* .content-texts-right {
    font-size: 14px;
}

.content-text-left {
    font-size: 14px;
}

.content-btn-text {
    font-size: 17px;
    color: #020202;
    color: rgb(2, 2, 2);
}

.h3-right {
    font-size: 32px;
    text-transform: uppercase;
}

.span-h5 {
    font-size: 10px;
    font-variant: small-caps;
    color: #546979;
    color: rgb(84, 105, 121);
}

.gal-text {
    font-size: 17px;
    font-variant: small-caps;
    color: #FFFFFF;
    color: rgb(255, 255, 255);
} */